
#maindiv {    
   position: relative;  
   top: 20px; 
   margin-left: 70vh; 
   display: flex; 
   flex-flow: row wrap; 
   align-items: center;
   height: 700px; 
   width: 700px;
   outline: solid;  
   outline-color: black;  
   
}
.box {   
   outline: solid; 
   outline-color:black;   
   outline-width: 1px;  
   
}    

.button {  
   position: relative;
   bottom:65px; 
   left: 100px; 
   margin-top: 2vh;  
   height: 10vh;  
   width: 10vh;
   border-radius: 50%;  

}

.paragraph{ 
   color: black;
}  

h1 { 
   display: flex; 
   justify-content: center;
}